<!-- Header with Navigation and Logo -->
<mat-toolbar class="header-toolbar">
  <span class="site-title">Johnathan Rossi</span>

  <span class="spacer"></span>

  <!-- Navigation Links -->
  <a routerLink="/home" class="nav-item">Home</a>
  <a routerLink="/projects" class="nav-item">Projects</a>
  <a routerLink="/contact" class="nav-item">Contact</a>
  <a routerLink="/about-me" class="nav-item">About Me</a>

  
</mat-toolbar>




<!-- Main Content -->
<main>
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<app-footer></app-footer>
